.faq-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center; /* Añade esta línea para centrar el texto */
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .toggle-answer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #0074d9;
    font-weight: bold;
  }
  
  .toggle-answer:hover {
    text-decoration: underline;
  }
  
  .answer.hidden {
    display: none;
  }
